name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Buildozer and Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install --user --upgrade buildozer cython virtualenv
      - name: Build with Buildozer
        run: |
          export PATH=$PATH:~/.local/bin
          # الموافقة على تراخيص أندرويد يدوياً قبل البناء
          yes | buildozer android debug || true
          buildozer -v android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Arif-Khan-Service-App
          path: bin/*.apk
