name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev
          pip3 install --user --upgrade buildozer cython virtualenv

      - name: Pre-accept Android Licenses
        run: |
          export PATH=$PATH:~/.local/bin
          yes | buildozer android debug --only-sdk-licenses || true

      - name: Build with Buildozer
        run: |
          export PATH=$PATH:~/.local/bin
          # مسح الملفات المؤقتة السابقة لضمان بناء نظيف
          buildozer android clean
          yes | buildozer -v android debug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Arif-Service-App
          path: bin/*.apk
